{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * ImageShop plugin for Craft CMS 3.x
 *
 * ImageShopField Field Input
 *
 * @author    WebDNA
 * @copyright Copyright (c) 2022 WebDNA
 * @link      https://webdna.co.uk
 * @package   ImageShop
 * @since     2.0.0
 */
#}

{% import "_includes/forms" as forms %}

<div id="imageshop-{{ field.id }}" data-id="{{ namespace }}imageshop">

    <div class="mb-2">
        <div class="imageshop-preview element removable large hasthum" data-imageshop-list>
            {% if value ?? false %}
                {% if value is array %}
                    {% include 'imageshop-dam/_components/fields/input-list.twig' with {
                        images: value,
                    } %}
                {% else %}
                    {% if value.image %}
                        {% include 'imageshop-dam/_components/fields/input-list.twig' with {
                            images: [value.image],
                        } %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    <button type="button" class="imageshop-trigger add icon dashed btn">{{ 'buttonText'|t('imageshop-dam') }}</button>
    {{ forms.hidden({
        id: id ~ namespace,
        name: name,
        value: valueArray|json_encode,
    })|attr({class: 'imageshop-value'}) }}
</div>

{% css %}
.imageshop-img-container{
    padding: 1rem;
    background-color: var(--gray-050);
    box-shadow: 0 2px 6px -1px rgba(0,0,0,.05);
    margin-bottom: 1rem;
}
.imageshop-label{
    margin-top: 0.5rem;
}
.imageshop-preview{
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    gap: 1rem;
}
.imageshop-img-container{
    width: 230px;
    img{
        width: 100%;
        height: 100px;
        object-fit: contain;
    }
}

{% endcss %}